/* _base.scss
  Describes global/ layout styles
*/

* {
  padding: 0;
  margin: 0;
}

img {
  border-radius: 5px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: $theme-gray-dark;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
  transition: all 0.5s ease;
}

.body-blue {
  background-color: $theme-blue;
}

canvas {
  position: fixed !important;
}

.header {
  background-size: cover;
  height: 70vh;
  width: 100%;
  margin: auto;
  padding: 8rem 2rem;
  display: flex;
  flex-direction: column;
  &__title {
    font-weight: 300;
  }
  &__sub {
    font-weight: 300;
  }
}

.projects,
.about,
.contact {
  width: 90%;
  margin: auto;
  padding-top: 4rem;
}

.about {
  height: 60vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__image {
    z-index: -1;
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin-bottom: 2rem;
    filter: grayscale(100%);
  }
}

.contact {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  &__details {
    margin: 2rem;
  }
  &__icons {
    color: $theme-cyan;
  }
}

@media screen and(min-width: 550px) {
  .header {
    padding: 8rem 4rem;
    width: 50%;
  }
  .projects {
    padding: 8rem 0;
  }
  .about {
    padding-top: 8rem;
    display: grid;
    gap: 1rem;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and(min-width: 1400px) {
  .projects,
  .about,
  .contact {
    width: 75%;
  }
}
