* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: auto;
  background-color: $theme-gray;
}

.header {
  background: linear-gradient(to bottom, $theme-gray, $theme-white);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 5rem 2rem;
  &__title {
    font-size: 4rem;
    font-weight: 300;
    color: $theme-pink;
  }
  &__sub {
    color: $theme-gray-light;
    font-weight: 300;
    font-size: 2rem;
  }
  @media screen and(min-width: 550px) {
    &__title {
      font-size: 5rem;
    }
    &__sub {
      font-size: 3rem;
    }
  }
}

.projects {
  background-color: $theme-white;
}

@media screen and(min-width: 550px) {
  .header {
    padding: 8rem 4rem;
  }
}
