// _colours.scss - theme colours

$theme-pink: #ff95c1;
$theme-gray: #b2cce6;
$theme-white: #f4f4f4;
$theme-gray-light: #b9c8d7;
$theme-gray-dark: #27292c;
$theme-blue: #3e5475;
$theme-cyan: #00c8c8;
