.nav {
  display: flex;
  justify-content: end;
  border-bottom: 2px solid $theme-gray-lighter;
  padding: 1.5rem;

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__link {
    visibility: visible;
  }

  &__group {
    background-color: $theme-gray-lighter;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    top: 120px;
    left: 0;
    height: 50vh;
    width: 100vw;
  }
  &__link {
    padding: 1.5rem;
    font-size: 1.8rem;
    text-decoration: none;
    color: $theme-gray;
  }
  &__link:hover {
    color: $theme-pink;
  }

  @media screen and(min-width: 550px) {
  }
}
