// _typography.scss - for setting the fonts, colours and sizes of all document text

@import url("https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap");

$theme-font-main: "Sulphur Point", sans-serif;
$theme-font-heading: "Gudea", sans-serif;

* {
  font-family: $theme-font-main;
}

h1,
h2 {
  font-family: $theme-font-heading;
  color: $theme-pink;
  font-weight: 300;
}

h3,
p,
a,
span,
button {
  color: $theme-gray;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

button {
  font-size: 1.8rem;
}

p,
span {
  font-size: 1.1rem;
}

//Biiig screens
@media screen and (min-width: 1800px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.2rem;
  }

  a {
    font-size: 2rem;
  }

  p,
  span {
    font-size: 1.8rem;
  }
}
