@charset "UTF-8";
/*
www.freecodecamp.org: 
    320px — 480px: Mobile devices.
    481px — 768px: iPads, Tablets.
    769px — 1024px: Small screens, laptops.
    1025px — 1200px: Desktops, large screens.
    1201px and more — Extra large screens, TV.

*/
@import url("https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap");
* {
  font-family: "Sulphur Point", sans-serif;
}

h1,
h2 {
  font-family: "Gudea", sans-serif;
  color: #ff95c1;
  font-weight: 300;
}

h3,
p,
a,
span,
button {
  color: #b2cce6;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

button {
  font-size: 1.8rem;
}

p,
span {
  font-size: 1.1rem;
}

@media screen and (min-width: 481px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  a {
    font-size: 2rem;
  }
  p,
  span {
    font-size: 1.8rem;
  }
}

.nav {
  position: fixed;
  width: 100%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #27292c;
}

.nav__button {
  background-color: transparent;
  border: none;
  margin: 20px;
  cursor: pointer;
}

.nav__button #menu_icon {
  width: 48px;
  height: 48px;
}

.nav__group {
  border: 2px solid #b9c8d7;
  background-color: #27292c;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  top: 70px;
  left: 0;
  height: 75vh;
  width: 99vw;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.nav .show-menu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav__link {
  background-color: transparent;
  border: none;
  height: 8vh;
  width: 100%;
  padding: 0 1.5rem;
  text-decoration: none;
  color: #b2cce6;
}

.nav__link:hover {
  color: #ff95c1;
}

@media screen and (min-width: 769px) {
  .nav__group {
    background-color: transparent;
    border: none;
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    height: 5vh;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .nav__link {
    width: auto;
  }
  .nav__button {
    display: none;
  }
}

.nav-selected {
  background-color: #ff95c1;
  color: #27292c;
}

.nav-selected:hover {
  color: #b9c8d7;
}

.project {
  margin: 6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 2px solid #b9c8d7;
}

.project__image {
  width: 100%;
  height: auto;
  background-color: #b9c8d7;
}

.project__title {
  color: #ff95c1;
  font-weight: normal;
  margin: 1rem 0;
}

.project__title i {
  color: #00c8c8;
}

.project__sub span {
  color: #ff95c1;
  border-bottom: 1px solid;
}

.project__sub .icons__tech {
  padding: 1rem 0;
}

.project__sub .icons__tech img {
  margin: 0 10px;
  width: 38px;
}

@media screen and (min-width: 481px) {
  .project__sub .icons__tech img {
    width: 48px;
  }
}

.project__info {
  color: #b2cce6;
  margin-bottom: 2rem;
}

@media screen and (min-width: 769px) {
  .nav {
    border-bottom: 2px solid #b9c8d7;
  }
  .project {
    width: 100%;
    margin: 2rem 0;
    display: -ms-grid;
    display: grid;
    gap: 1rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 3fr;
        grid-template-rows: 1fr 1fr 3fr;
        grid-template-areas: "img title" "img sub" "img info";
  }
  .project__image {
    width: 100%;
    height: 90%;
    -o-object-fit: cover;
       object-fit: cover;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    grid-area: img;
  }
  .project__title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project__title i {
    margin-left: 20px;
  }
  .project__sub {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: sub;
  }
  .project__info {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: info;
  }
  .project:nth-child(even) {
        grid-template-areas: "title img" "sub img" "info img";
  }
}

* {
  padding: 0;
  margin: 0;
}

img {
  border-radius: 5px;
}

a {
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #27292c;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

canvas {
  position: fixed !important;
}

.header {
  background-size: cover;
  height: 70vh;
  width: 100%;
  margin: auto;
  padding: 8rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects,
.about,
.contact {
  width: 90%;
  margin: auto;
  padding-top: 4rem;
}

.about {
  height: auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__image {
  z-index: -1;
  width: 80%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 2rem;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.contact {
  height: auto;
  margin-bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__details {
  margin: 2rem;
}

.contact__icons img {
  margin: 0 20px;
  width: 48px;
  color: #00c8c8;
}

@media screen and (min-width: 1025px) {
  .header {
    padding: 8rem 4rem;
    width: 50%;
  }
  .projects {
    padding: 8rem 0;
  }
  .about {
    padding-top: 8rem;
    display: -ms-grid;
    display: grid;
    gap: 1rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1201px) {
  .projects,
  .about,
  .contact {
    width: 75%;
  }
}
/*# sourceMappingURL=main.css.map */