@import url("https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap");
* {
  font-family: "Sulphur Point", sans-serif;
}

.nav {
  display: flex;
  justify-content: end;
  border-bottom: 2px solid #c9d8e7;
  padding: 1.5rem;
}
.nav__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.nav__link {
  visibility: visible;
}
.nav__group {
  background-color: #c9d8e7;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  top: 120px;
  left: 0;
  height: 50vh;
  width: 100vw;
}
.nav__link {
  padding: 1.5rem;
  font-size: 1.8rem;
  text-decoration: none;
  color: #013a6f;
}
.nav__link:hover {
  color: #ff95c1;
}
* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to bottom, #013a6f, #f4f4f4);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}